.app {
  text-align: center;
  padding: 0 24px;
}

.app .nav-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: darkblue;
}

.app .nav-card-container view {
  margin: 10px 0;
  background-color: antiquewhite;
  width: 45%;
  height: 400px;
  border-radius: 20px;
}

.text {
  margin-top: 64px;
  color: white;
}

.header {
  padding-top: 30%;
  background-color: #282c34;
  font-size: 40px;
  color: white;
}

.button {
  color: orange !important;
}
