page {
  padding-bottom: 3rem;
  background-color: #f0f0f0;
}
/* 强制覆盖tab bar的style */
.lu-tab-bar {
  border-top: 1px solid white !important;
  background: rgba(210, 210, 210, 0.6) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
}
