page {
  background: #f9f9f9;
}

/* 强制覆盖tab bar的style */
.lu-tab-bar {
  border-top: 1px solid white !important;
  background: rgba(230, 230, 230, 0.6) !important;
  backdrop-filter: blur(50px) !important;
}
